name: Using Actions
on: push
jobs:
	builds:
		runs-on: ubuntu-latest
    steps:
		-	name: Checkout Code
      uses: actions/checkout@v6
    - name: Setup node
      uses: actions/setup-node@v4
      with:
      	node-version: '22.x'
    - name: Install dependencies
      run: npm ci
			working-directory: 04-using-actions
    - name: Run Unit Tests
      run: npm run test
      working-directory: 04-using-actions
